* {
  font-family: Arial;
  margin: 0;
}
body {
  background-image: url(./img/vhs.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 35px;

  margin: 50px 0 50px 0;
  padding: 10px;
  border: 3px solid #fff;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}
.form-control {
  width: 45%;
  height: 6vh;

  font-size: 18px;
  padding: 0 20px 0 20px;
  margin-bottom: 50px;

  border-radius: 15px;
  border: none;
  outline: none;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}

.form-button {
  width: 20%;

  border-radius: 15px;
  padding: 10px;
  margin-bottom: 50px;

  font-size: 18px;
  color: #fff;

  background: linear-gradient(to right, #ff6f5e, #f0134d);
  outline: none;
  border: none;
  transition: all 0.2s;
}

.form-button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}

/* --- Card --- */
.flex-container {
  display: flex;
  justify-content: center;
}
.results {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 15px;
}

.card {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.level-3 {
  grid-row-end: span 1;
}

.card-img {
  max-width: 100%;
}

.description-title {
  font-size: 18px;

  margin: 10px 0 10px 0;
}
.description-desc {
  margin-bottom: 15px;
}
.imdb {
  text-decoration: none;
  color: #ec9b3b;

  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;

  background: #ffdc34;
  outline: none;
  border: none;
  transition: all 0.2s;
}
.imdb:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}
